@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;800;900&display=swap");

@font-face {
  font-family: "OpenSansPX";
  font-weight: normal;
  font-style: normal;
  src: url("~@/assets/fonts/OpenSansPX.ttf") format("truetype");
}

@font-face {
  font-family: "OpenSansPXBold";
  font-weight: bold;
  font-style: normal;
  src: url("~@/assets/fonts/OpenSansPXBold.ttf") format("truetype");
}
